@font-face {
    font-family: 'Roboto';
    src: 
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }


@font-face {
    font-family: 'Roboto Bold';
    src: 
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    } 
    
@font-face {
    font-family: 'Black';
    src: 
    url('../fonts/Roboto-Black.woff') format('woff'),
    url('../fonts/Roboto-Black.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }    

@font-face {
    font-family: 'MyriadPro';
    src: 
    url('../fonts/MyriadPro-Regular.woff') format('woff'),
    url('../fonts/MyriadPro-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }

@font-face {
    font-family: 'Roboto-Light';
    src: 
    url('../fonts/Roboto-Light.woff') format('woff'),
    url('../fonts/Roboto-Light.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }

@font-face {
    font-family: 'Roboto-Thin';
    src: 
    url('../fonts/Roboto-Thin.woff') format('woff'),
    url('../fonts/Roboto-Thin.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }    