@media screen and (max-width: 1290px)
    html
        font-size: 12px
    .create
        &-wrap
    .format
        &-image
            &__image   
                max-width: 500px 
    .button 
        width: 100%
        max-width: 19rem 
    .gotrain-link
        max-width: 100% 
    .gotrain-link
        max-width: 100% 
    .return-link 
        max-width: 100% 
    .price
        &-card
                   

@media screen and (max-width: 1200px)

    .format
        &-image
            &__image   
                max-width: 400px 

    .form-footer-wrap
        display: flex
        flex-direction: column
        align-items: center
        
    .form-footer-main
        display: flex
        flex-direction: column
    .form-footer-input__position
        min-width: 30rem
        margin-bottom: 1.5rem   

    .time
        &-title
            &__position
                margin: auto
        &-block
            &__setting    
                justify-content: space-evenly
@media screen and (max-width: 1110px)  
    .container
        width: 95%    
    


@media screen and (max-width: 992px) 
    .hero
        background-position: left
        &-title    
            font-size: 4rem
        &-text
            &__position
                left: 0
                bottom: 17%
        &-button
            &__training
                margin-top: 16rem
    .format
        &-card
            align-items: center
            flex-direction: column 
            &__item
                display: flex
                flex-direction: column

        &-image
            &__block
                flex-direction: column
                align-items: center
            &__image     
                max-width: 350px 
                margin-bottom: 2rem 
    .header
        &-list
            &__item 
            &__links
                display: none    
                
                             
            &__logo--image
                
                visibility: visible
            &__phone  
                visibility: visible 

    .price
        &-card
            flex-direction: column
            &__text
                margin-bottom: 2rem 
                &:nth-last-child(2)
                    margin-bottom: 2rem
                    
            &__item
        &__button
            margin-bottom: 4rem              
@media screen and (max-width: 892px)   
    .row
        flex-direction: column
    .hero
        background-position: left
        min-height: 800px
        &-text
            &__position
                bottom: 24%
        &-button
            &__training  
                margin-top: 10rem  
    
           
  
                
    .create
        &-block
            display: flex
            flex-direction: column
            justify-content: start
            &__subtitle
                display: none



@media screen and ( max-width: 735px )
    .hero
        background-size: cover
        min-height: 600px
        &-title
            &__settings  
                margin-top: 5rem 
        &-secondtitle
            &__settings 
                margin-bottom: 3rem
        &-button
            &__training  
                margin-top: 0rem
        &-text
            &__position 
                display: none             
    .table
        display: flex
        &-input
            padding: 15px 0 15px 15px
        &-first
            &__row
                display: flex
                justify-content: start
                align-items: baseline
        &-second
            &__row
                display: flex
                justify-content: start
                align-items: baseline
                border: none
    
    .return
        background-position: left
        &-link   
            font-size: 1rem 

    .time
        &-block
            &__number
                margin-bottom: 1rem    
            &__info
                margin: auto 
                margin-bottom: 2rem 
            &__setting
                margin-top: 3rem
                text-align: center
                flex-direction: column
        &-title
            &__position
                text-align: center        
@media screen and (max-width: 470px) 
    html
        font-size: 11px    
    .header
        &-list    
            flex-direction: column
            justify-content: center
            align-items: center
            &__item
                &:nth-child(5)
                    margin: 0
                    margin-top: 1rem
                    
    .hero
        &-title
            font-size: 3rem
            line-height: 1.4
            &__settings
                margin-bottom: 1rem
        &__links
            &-phone    
                margin: 0

    .gotrain
        padding: 5rem 0
        &-title    
            max-width: 30.5rem        

    
        
    .format
        &-image
            &__image 
                width: 90%
    .part
        &__video
            min-height: 19rem
        &-subtitle
            &__position   
                font-size: 1.5rem
        &__button
            font-size: 0.8rem
            padding: 14px 20px       

    .form
        &__button
            
            min-width: 290px
            
        &-input
            
            min-width: 290px
            
        &-footer
            &-input 
                
                min-width: 290px
    .table
        &-text
            &__position     
                margin-right: 0       
    .create
        padding: 3rem 0
    .advantages  
        padding: 3rem 0 
    .reviews
        padding: 5rem 0
        &-title
            font-size: 2rem
        &__video
            min-height: 19rem  

    .return
        &-link   
            font-size: 0.8rem 
            padding: 14px 20px                   

    
            