.format
    padding-top: 8.35rem
    padding-bottom: 10rem
    border-top: 1px solid $line
    border-bottom: 1px solid $line
    &-title
        font-family: 'Roboto-Light', sans-serif
        font-size: 2.57rem
        font-weight: 300
        text-align: center
        &__position
            margin-bottom: 4.57rem
        
    &-image
        &__block
            display: flex
            justify-content: space-around
        &__image
    &-card
        display: flex
        align-items: flex-start
        justify-content: space-between 
        &__image
            margin-top: 4.71rem 
            
        &__title
            margin-top: 3.3rem
            font-family: 'Roboto', sans-serif
            font-size: 1.714rem
            font-weight: bold
        &__text
            max-width: 17.85rem 
            font-family: 'Roboto-Light', sans-serif
            font-size: 1.142rem
            line-height: 24px


            
