.gotrain
    position: relative
    background: #061826 url('../img/training.png') right no-repeat
    padding-top: 9.07rem
    padding-bottom: 8.5rem
    &::after
        background: transparent
        background: radial-gradient(circle 677px at center, #03256c 0%, #061826 100%)
        opacity: 0.4
        content: ''
        height: 100%
        left: 0
        position: absolute
        top: 0
        width: 100%
        
    &-wrap
        display: flex
        flex-direction: column
    &-title
        z-index: 99
        max-width: 32.5rem
        margin: 0 auto
        text-align: center
        font-family: 'Roboto', sans-serif 
        font-weight: 700 
        color: $light
        font-size: 1.7rem
        line-height: 1.3
        &--primary
            color: $text-decoration
    &-link
        z-index: 99
        cursor: pointer
        max-width: 16.142rem
        &__settings
            margin: 0 auto
            margin-top: 2.5rem

              
    
   
    