.hero
    width: 100%
    min-height: 1247px
    background: url('../img/hero.jpg') center no-repeat
    background-size: cover
    background-position-y: -80px
    &-wrap
        position: relative
        display: flex
        flex-direction: column
    &-title
        font-family: 'Roboto-Light', sans-serif
        font-weight: normal
        font-size: 5.14rem
        line-height: 83.61px
        &__settings 
            margin-top: 10.64rem
            margin-bottom: 0
    &-subtitle
        font-family: 'MyriadPro', sans-serif
        font-size: 2.714rem
        font-weight: 400 
        &__settings
            margin-bottom: 1.6rem  
    &-secondtitle
        font-family: 'Roboto', sans-serif
        font-size: 1.14rem
        font-weight: 300
        max-width: 25.857rem
        line-height: 23.97px
        &__settings
            margin-bottom: 4.857rem
    &-text
        position: absolute
        max-width: 24.214rem
        font-family: 'Roboto', sans-serif
        font-weight: 300
        font-size: 1.714rem
        line-height: 28.76px
        bottom: -10px
        left: 24%
        &--decoration
            color: $text-decoration

               





    &-button
        max-width: 17.1rem 
        &__training
            padding: 15px 40px
            font-size: 1.2rem 
            margin-bottom: 0.8rem
            box-shadow: 0 12px 24px rgba($primary, 0.32) 
        &__info
            font-size: 1.14rem     

.button
    &-container
        display: flex
        flex-direction: column
        justify-content: center
        

    