.part
    padding-top: 80px
    &-wrap
        display: flex
        flex-direction: column
        align-items: center
    &-title
        font-family: 'Roboto', sans-serif
        font-size: 2.571rem
        font-weight: 300
        margin-bottom: 0.7rem
        &--bold
            font-family: 'Black', sans-serif
            font-weight: 300
            
    &-text
        text-align: center
        max-width: 24.85rem
        font-weight: 300
        font-family: 'Roboto-Light', sans-serif
        font-size: 1.134rem
        line-height: 24px
        margin-bottom: 0
    &-item
        font-family: 'Roboto-Light', sans-serif
        font-size: 1.714rem
        font-weight: 300
        &::before
            content: ''
            display: flex
            margin: auto
            margin: 3.2rem auto
            width: 47px
            height: 2px
            transform: rotate(90deg)
            background: $darken
    .video
        &__play
            position: relative
            margin: auto
            cursor: pointer
    &__video 
        width: 100%
        height: 100%
        display: flex
        margin: 0 auto
        max-width: 67.37rem
        min-height: 27.5rem  
        background:  url(../img/video.jpg) center no-repeat
        margin-top: 6.4rem
        margin-bottom: 3.4rem
       
    &-subtitle
        font-family: 'Roboto Bold', sans-serif
        font-size: 1.714rem
        &__position
            margin-bottom: 0.6rem
        

    &-answer
        font-family: 'Roboto-Light', sans-serif
        font-size: 1.142rem
        text-align: center
        max-width: 41rem
        line-height: 24px
        &__position
            margin-bottom: 2.8rem

    &__button
        font-family: 'Roboto-Light', sans-serif
        font-size: 1.225rem 
        padding: 15px 42px
        box-shadow: 0 12px 24px rgba(6, 57, 158, 0.32)
        margin-bottom: 8.57rem  
        box-shadow: 0px 2px 25px rgba($primary, 0.6)
        &:hover
            transition: box-shadow 0.3s
            box-shadow: none  
        

          


