.price
    padding: 8.57rem 0
    &-title
        text-align: center
        font-family: 'Roboto', sans-serif
        font-size: 2.57rem
        font-weight: 300
        &--bold
            font-weight: 700
    &-text
        max-width: 26rem
        margin: auto
        text-align: center
        font-family: 'Roboto-Light', sans-serif
        font-size: 1.142rem
        &__position
            margin-bottom: 5.2rem       
    &-card
        display: flex
        justify-content: space-around
        
        &__item
            flex-basis: 32%
            display: flex
            align-items: center
            justify-content: inherit
            flex-direction: column
            border-right: 1px solid $line
            &:last-child
                border-right: none     
        &__vip
            font-family: 'Roboto', sans-serif
            font-weight: 700
            font-size: 1.75rem
            margin-bottom: 1.92rem
        &__price
            font-family: 'Roboto', sans-serif
            font-weight: 700
            font-size: 1.75rem
            color: $text-decoration
            margin-bottom: 3.2rem
        &__text
            text-align: center
            font-family: 'Roboto', sans-serif
            font-weight: 300
            margin-bottom: 1.92rem
            font-size: 1.142rem
            &:nth-last-child(2)
                margin-bottom: 4.92rem       
    &__button
        font-family: 'Roboto', sans-serif
        padding: 15px 48px
        border-radius: 4px
        font-weight: 700
        font-size: 1.214rem
        text-decoration: none
        outline: none
        text-transform: uppercase
                



            
              

