.profit
    margin: 0 auto
    width: 80%
    border-bottom: 1px solid #eaf1f7
    &__position
        margin-top: -31rem
        padding-bottom: 8.28rem
    &-question
        display: inline-block
        background: $light
        font-family: 'MyriadPro', sans-serif
        font-size: 2.857rem
        padding: 16px 18px
        &__position
            margin-bottom: 5rem
    &-block
        display: flex
        justify-content: start
        align-items: center
        &__upsize
            display: flex
            align-items: flex-end
            font-family: 'Roboto', sans-serif
            font-size: 20rem
            &--primary
                font-family: 'Roboto', sans-serif
                font-size: 14rem
                color: $text-decoration
       
        &__money
            flex-basis: 45%
            margin-right: 3rem 
        &__analize
            display: flex
            flex-direction: column
            margin-right: 1rem       
        &__text 
            font-family: 'Roboto', sans-serif
            font-size: 1.714rem 
            max-width: 19rem
            margin-bottom: 2rem
            &--bold
                font-weight: 700
        &__subscription
            max-width: 20rem
            font-family: 'Roboto', sans-serif
            font-size: 1.142rem
            line-height: 24px
            margin: 0






