.profit
    display: none
    &-box
        display: flex
        &__title
            margin: 0

        &--bigsize
            display: inline-block
            color: #0f1c2e
            font-family: 'Roboto-Thin', sans-serif
            font-size: 342px
            font-weight: 400
            // Text style for "9"
            letter-spacing: -17.1px
            &__position
                margin-bottom: 50px
        &--decor
            color: #06bee1
            font-family: 'Roboto-Thin', sans-serif
            font-size: 112px
            font-weight: 400
            letter-spacing: 11.2px
            margin-right: 150px
        &__title
            color: #0f1c2e
            max-width: 269px
            font-size: 24px
            font-weight: 300
            line-height: 28.8px
            font-family: 'Roboto', sans-serif
        &__image
                
        &__text
            
            max-width: 260px
            font-size: 16px
            font-family: 'Roboto-Light'
        &__item
        &__position 
            align-self: flex-end 
            
        &__position2 
            align-self: flex-end 
                 
               
