.profit
    margin-top: -10rem
    &-box
        position: relative
        display: flex
        &__title
            margin: 0
        &--bigsize
            line-height: 110px
            color: #0f1c2e
            font-family: 'Roboto-Thin', sans-serif
            font-size: 342px
            font-weight: 400
            // Text style for "9"
            letter-spacing: -17.1px
            &__position
                margin-bottom: 50px
        &--decor
            color: #06bee1
            font-family: 'Roboto-Thin', sans-serif
            font-size: 112px
            font-weight: 400
            letter-spacing: 11.2px
            margin-right: 150px
        &__title
            color: #0f1c2e
            max-width: 269px
            font-size: 24px
            font-weight: 300
            line-height: 28.8px
            font-family: 'Roboto', sans-serif
            margin-top: 3.5rem
            
        &__image
                
        &__text
            line-height: 24px
            max-width: 260px
            font-size: 16px
            font-family: 'Roboto-Light'
        &__item
        &__position 
            align-self: flex-end 
            margin-right: 1rem
            
        &__position2 
            align-self: flex-end 
                 
.down
    margin-bottom: 0
                
.why-robot 
    font-family: 'MyriadPro', sans-serif
    font-size: 39px
    font-weight: 400
    position: absolute
    display: flex
    top: -18rem
    left: 0
    background: $light
    color: $darken
    padding: 15px 16px
