.return
    position: relative
    background: #e8f0f7 url('../img/return.png') top right no-repeat
    background-size: cover
    padding-top: 9.07rem
    padding-bottom: 8.5rem
    &-wrap
        display: flex
        flex-direction: column
    &-title
        max-width: 21.42rem
        margin: 0 auto
        text-align: center
        font-family: 'Roboto', sans-serif 
        font-weight: 700
        color: $darken
        font-size: 1.7rem
        line-height: 1.2
        &__position
            margin-bottom: 2.07rem
    &--primary
        color: $text-decoration
    &-link
        text-align: center
        font-family: 'Roboto', sans-serif 
        cursor: pointer
        max-width: 39.542rem
        font-size: 1.219rem
        &__settings
            padding: 16px 40px
            font-weight: 700
            margin: 0 auto   