.time
    padding-top: 8rem
    padding-bottom: 8.1rem
    &-title
        max-width: 34rem
        font-family: 'MyriadPro', sans-serif
        font-weight: 300
        font-size: 2.8rem
        line-height: 1.1
        &--bold
            font-weight: 700
    &-wrap
        
    &-block
        &__setting
            display: flex
            justify-content: space-between
            margin-top: 7.92rem
        
        &__number
            font-family: 'Roboto', sans-serif
            font-weight: 700
            font-size: 2.7rem
            margin-bottom: 3.214rem
            

        &__section
            font-family: 'Roboto-Light', sans-serif
            font-size: 1.714rem
            margin-bottom: 2.07rem
           
        &__info
            font-family: 'Roboto-Light', sans-serif
            font-size: 1.142rem
            max-width: 12rem 
                  
        &__item
            display: flex
            flex-direction: column
           
              

